project_id          = "monkeyswork-prod"
region              = "us-central1"
zone                = "us-central1-a"
environment         = "prod"
gke_node_count      = 3
gke_ai_node_count   = 2
gke_machine_type    = "e2-standard-4"
gke_ai_machine_type = "n1-standard-8"
db_tier             = "db-custom-4-16384"
db_password         = "CHANGE_ME"
domain              = "monkeyswork.com"
enable_vertex_ai    = true
