apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namePrefix: ""
commonLabels:
  environment: staging

patches:
  - target:
      kind: ServiceAccount
    patch: |-
      - op: replace
        path: /metadata/annotations/iam.gke.io~1gcp-service-account
        value: "placeholder-update-per-env"
