project_id          = "monkeyswork-staging"
region              = "us-central1"
zone                = "us-central1-a"
environment         = "staging"
gke_node_count      = 2
gke_ai_node_count   = 1
gke_machine_type    = "e2-standard-4"
gke_ai_machine_type = "n1-standard-8"
db_tier             = "db-custom-2-8192"
db_password         = "CHANGE_ME"
domain              = "staging.monkeysworks.com"
enable_vertex_ai    = true
